.wizard {
    background: #fff;
	width: 100%;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
    
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-color: #ddd!important;
	text-align: center;
}

.wizard .nav-tabs .nav-item.show .nav-link, .wizard .nav-tabs .nav-link.active{
	color: #fff;
    background-color: #343a40;
}


span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a { 
    padding: 0;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 45px;
	color: #343a40;
}

.wizard .nav-tabs > li a:hover {
	background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.card-header{ padding: 0px!important; background-color: #6c757d!important; color: #fff;}
.card-header a{ color: #fff; display:block; padding: 10px;}
.card-header a:hover, .card-header a:focus{ color: #fff; text-decoration: none;}
.card-header:hover{background-color: #6c757d!important; }

.package-content-list{ font-size: 14px; text-align:left;}
.package-content-list{ position:relative;}
.package-content-list li{ position:relative; margin-left: 25px;}
.package-content-list li:before {
    content: "\f00c";
    width: 15px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: -25px;
    top: 5px;
    color: #28a745;
}

.checkout-basket{ height: 100%; padding: 10px;}

.remove-item{ position: absolute; top: -10px; right: -10px; display: inline-block; width: 25px; height: 25px; color: #fff; background: #c50209; z-index: 3;
    -webkit-border-radius: 50% 50%; border-radius: 50% 50%; text-align: center;
}

.remove-item:hover{
    background: #f74b51;
}

.address-item .remove-item{ top: 20px;}

.landingpage-head.masthead {
    position: relative;
    background: url(../images/bg-masthead-landing.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}